<div class="row my-5">
  <div class="col-12">
    <div id="projects">
      <h1 class="text-center">My Projects</h1>
      <div class="cards">
        <% data.projects.each do |project| %>
          <div class="card-container gap-2">
            <div><%= image_tag project.image, alt: "project image" %></div>
            <div class="card-product">
              <div class="card-product-infos w-100">
                <h2><%= project.name %></h2>
                <div class="divider"></div>
                <small><span>Team: <%= project.team %></span><span> | Timeline: <%= project.timeline %></span><span> | My Role: <%= project.role %></span></small>
                <br>
                <p><%= project.description %></p>
                <div class="divider"></div>
                <div id="tools" class="d-flex justify-content-start align-items-center gap-2"><%= project.tools.html_safe %></div>
                <div class="divider"></div>
                <div class="d-flex justify-content-start align-items-center gap-2">
                  <% link_to project.url, class: 'external-link', target: '_blank' do %>
                    View Site
                  <% end %>
                  <% link_to project.github, class: 'external-link', target: '_blank' do %>
                    View Source Code
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
